@{
    ViewBag.Title = "Price Compare Report";
    Layout = "~/Views/Shared/CommonList.cshtml";
}

<h2>Price Compare Report</h2>
@using (Html.BeginForm())
{

    <table class="adminContent">
        <tr>
            <td>
                <div id="priceCompareRpt-grid"></div>

                <script>
   $(document).ready(function () {
        $("#priceCompareRpt-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("PriceCompareReport", "Report"))",
                                        type: "POST",
                                        dataType: "json"
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors"
                                },
                                error: function (e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                pageSize: "300",
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: false
                            },
                            sortable: {
                                mode: "single",
                                allowUnsort: true
                            },
                            pageable: {
                                refresh: true,
                                pageSizes: ["300", "1000", "2000"]
                            },
                            editable: {
                                confirmation: false,
                                mode: "inline"
                            },
                            scrollable: false,
                            toolbar: ["excel"],
                            excel: {
                                allPages: true,
                                fileName: "PriceCompare.xlsx"
                            },
                            dataBound: onDataBound,
                            columns: [
                                 {
                                    field: "ID",
                                    template: "<a href='@Url.Action("Edit","JobItem")?JobItemID=#=ID#' target='_blank' > #=ID#</a>",
                                    title: "JobItemID"
                                }, {
                                    field: "CreateTime",
                                    type: "date",
                                    format: "{0:dd/MM/yyyy HH:mm:ss}",
                                    title: "Create Time"
                                }, {
                                    field: "ListedPrice",
                                    title: "ListedPrice"
                                }, {
                                    field: "DSPrice",
                                    title: "DSPrice"
                                }, {
                                    field: "SKU",
                                    title: "SKU"
                                }, {
                                    field: "Inspectors",
                                    title: "Inspectors"
                                }, {
                                    field: "Location",
                                    title: "Location"
                                }
                            ]
                        });
    });

                    
                </script>
            </td>
        </tr>
    </table>
    <script>
    $(document).ready(function () {

        

    });
    </script>
}
